table,th,td{
    border: 1px solid black;
    width: 50%;
    border-collapse: collapse;
}

th,td{
    padding: 8px;
    text-align: center;
}

tr:hover{
    background-color: blue;
}

img{
    width:50px;
    height:auto;
}